footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  padding: 0.5em;
}
.line {
  width: 30%;
}

.hr {
  margin-bottom: 0.5em;
}

.icon {
  margin-right: 1em;
}

.copyright p {
  text-align: center;
  color: white;
  margin-bottom: 0.5em;
}

@media (max-width: 1024px) {
  .line {
    width: 40%;
  }
}
@media (max-width: 768px) {
  footer {
    position: relative;
    margin-top: 10%;
    width: 97%;
  }
}
@media (max-width: 568px) {
  .hr {
    display: none;
  }
}
@media (max-width: 432px) {
  footer {
    width: 95.5%;
  }
}

@media (max-width: 324px) {
  .icon {
    margin-right: 0.5em;
  }
}
